.tl-frame-label {
  @apply hidden;
}

.tl-text-shadow {
  text-shadow: none;
}

/* Necessary fix because material tailwindhas faulty naming class inside editor conflicting with tons of other libraries using .row class. "row" is used instead of "flex-row". */
/* See https://github.com/creativetimofficial/material-tailwind/issues/512 */

/* TODO: Move this to lighthousefeed styles */

/* .row {
  margin: unset;
}

.row > * {
  margin: unset;
  display: unset;
  width: unset;
} */
